@font-face {
  font-family: 'ArialCustom';
  src: url('/fonts/Arial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --app-bg-main: #ffffff;
  --app-bg-secondary: #6a5acd;
  --app-accent: #4b0082;
  font-family: 'ArialCustom', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  background: var(--app-bg-main);
  min-width: 320px;
}

#root {
  min-height: 100vh;
}
